@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html {
  height: 100%;
}

body {
    margin-top: 3;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
    background-size: cover;
    background-size: 25rem;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    opacity: 90%;
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.img-card {
    object-fit: contain;
    
}

/* .cascading-left {
    margin-left: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  } */


.img-fluid {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    object-fit: cover;

}

.gradient-custom-4 {
        background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.card-section {
  border-radius: 30%;
}

.btn-input {
    padding: 3px;
}