*{margin:0;padding:0;box-sizing:border-box;}    

#radios4{
  position:relative;
  width:50%;
  margin:0 auto;
}
#radios4 input[type="radio"]{
  position:absolute;
  right:1000%;
}
#radios4 label{
  float:left;
  width:15%; padding-bottom:15%;
  margin:0 2.5%;
  background:rgba(255,255,255,.2);
  border-radius:50%;
  cursor:pointer;
}
#slider4{
  position:absolute;
  left:0%; top:0;
  width:10%; padding-bottom:10%;
  margin:2.5% 0 0 5%;
  background:#fff;
  transition:transform 1s;
  border-radius:50%;
  animation-timing-function: ease-in-out;
  animation-duration:.3s;
  animation-fill-mode: forwards;
  transition: 0.2s left .05s ease-in-out;
}
#input14:checked  ~ #slider4{ animation-name: input14; left:0; }
#input24:checked  ~ #slider4{ animation-name: input24; left:20%; }
#input34:checked  ~ #slider4{ animation-name: input34; left:40%; }
#input44:checked  ~ #slider4{ animation-name: input44; left:60%; }
#input54:checked  ~ #slider4{ animation-name: input54; left:80%; }

@keyframes input14{ 30%, 70% { transform:scale(0.5); } }
@keyframes input24{ 30%, 70% { transform:scale(0.5); } }
@keyframes input34{ 30%, 70% { transform:scale(0.5); } }
@keyframes input44{ 30%, 70% { transform:scale(0.5); } }
@keyframes input54{ 30%, 70% { transform:scale(0.5); } }
